@media only screen and (max-device-width: 1024px) {

    .icon-bar {
        width: 140px;
        max-height: 100%;
        overflow-y: auto;
    }
    .logo {
        padding-left: 10%;
        padding-right: 10%;
    }
    .icon-bar .tab-control {
        padding: 6px;
        font-size: 14px;
        font-weight: 400;
        min-height: 10%;
    }
    .icon-bar .tab-control .fa{
        padding: 6px;
        font-size: 20px;
    }
    

    .AllContent{
        padding-left: 140px;
    }

    .volName{
        padding-top:60px;
        font-weight: 550;
        font-size: 50px;
    }
    
  
    .center-block{
        width: 50%;
        right:calc( 25% - 140px ) ;
        left: 25%;
    }
    
    
    
    .contacts p{
        font-size: 22px;
        padding-top: 20px;
        
    }
    
    .column-uslugi {
        margin: 0;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 100px;
        width: 100%;
        display: block; 
    }
    
    .container-timeline h2{
        font-size: 22px;
    }
}





@media only screen and (max-width: 768px) {

    .volName{
        
        font-size: 8vw;
       
    }

    .parallax {
        background-attachment: scroll; 
    } 
    .AllContent{
        padding-left: 0px;
    }
    .icon-bar {
        display: none;
    }

    .main-title.name{
       
        font-size: 9vw;
        
    }
    .main-title.illusionist{
        font-size: 5vw;
      
    }
    .main-title.show{
        font-size: 7vw;
    }
    .main-title.city{
        font-size: 6vw;
        padding-bottom: 50px;
    }

    .center-block{
        width: 88%;
        right:6% ;
        left: 6%;
    }
    .center-block p{
        font-family: 'Montserrat', sans-serif; 
        font-weight: 400;
        letter-spacing: normal;
        font-stretch: 100%;
        font-size: 17px;
        padding: 25px;
        padding-bottom: 0px;
        line-height: 160%;
        text-align: center;
    }

    .player{
        height: 200px;
        padding: 10px;
    }

    .parallax.cards .cards-content{
        padding-top: 140px;
        width: 100%;
    }
    .progress{
        background-color: rgba(0, 0, 0, 0);
    }

    .progress span{  
        padding-left:20px;
        font-weight: 500;
        font-size: 4vw;
    
    }
    .allSlide{
        padding: 10px;
    }

    .mySlides img{
        max-width: 100%;
    /* min-height: 400px; */
    max-height: 700px;
    }

    #timeline {

        width: 85%;
      
        }
        
    .container-timeline h2{
        font-size: 4.75vw;
        padding: 12px;
        }

        .column-uslugi {
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 50px;
            /* float: left; */
            /* clear: both; */
           
        
            
            }
            
            
            
            /* Content */
            .content-column-uslugi {
            background-color: white;
            padding: 20px;
            border-radius: 4px;
            }




        #contacts{
           
            padding: 20px;
            height: auto;
        }
        .contacts{
            background-color: #2B333E;
            width: 90%;
            margin-left: 5%;
            padding: 30px;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 40px;
            color: white;
            text-shadow: 2px 2px 3px black, 0 0 2px black; /* Параметры тени */
        }

        .contacts p{
            font-size: 4vw;
            padding-top: 20px;
        
        }

        .contacts p.gold{
            color: #ECBE00;
            font-size: 20px;
            text-shadow: none;
        }

        .socials .fa {
            padding: 9px;
            font-size: 18px;
            width: 40px;
            text-align: center;
            text-decoration: none;
            border-radius: 50%;
        }
    
    
}